<mat-toolbar>
  <span> <img src="assets/logoipsum-284.svg"  alt=""/></span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="goToHomePage()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" style="margin-right:10px">
    {{username}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="isLoggedIn" (click)="goToProfile()" style="margin-right:10px">
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="signIn()"> <span> {{signinOR}} </span></button>
  </mat-menu>
  <div class="vertical"></div>

  <button mat-icon-button *ngIf="isLoggedIn" (click)="goToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <div class="cart" (click)="signIn()" *ngIf="!isLoggedIn"> Log In</div>

</mat-toolbar>
