.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  padding: 0px 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  height: 55px;
}
.cart:hover{
  cursor : pointer;
  color: #2557a7;
}
.vertical {
  background-color: lightgray;
  width: 1px;
  height: 20px;
}
.profilePic {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
}

img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.initials {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 15px;
  margin-top: 6px;
  margin-left: 3px;
  letter-spacing: 0.2625px;
}
.profile {
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.profile:hover {
  color: #2557a7;
}
