<mat-toolbar>
  <span style="margin-top: 10px"> <img  src="assets/logo.PNG" width="40%" ></span>
  <span class="example-spacer"></span>
  <div *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" class="profile">
    <div class="profilePic" [ngStyle]="{'background-color': circleColor}">
      <img class= "img" src="{{image}}" *ngIf="!showInitial" />
      <div class="initials" *ngIf="showInitial">
        {{ initials}}
      </div>
    </div>
    <p style="margin-top: 20px"> {{username}} </p>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="isLoggedIn" (click)="goToProfile()" style="margin-right:10px">
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="signIn()"> <span> {{signinOR}} </span></button>
  </mat-menu>

  <div class="vertical"></div>
  <button mat-icon-button class="cart" (click)="goToHomePage()">
    <mat-icon class="material-icons-outlined">home</mat-icon>
  </button>
  <button mat-icon-button  class="cart" *ngIf="isLoggedIn" (click)="goToCart()">
    <span class="material-icons-outlined"> shopping_bag </span>
  </button>
  <button mat-icon-button class="cart" (click)="signIn()" *ngIf="!isLoggedIn">
    <span class="material-icons-outlined">login</span>
  </button>

</mat-toolbar>
