<mat-card class="example-card">
  <mat-card-title-group class="group">
    <mat-card-title>{{data.title}}</mat-card-title>
    <mat-icon  mat-dialog-close style="cursor: pointer; color: white">close</mat-icon>
  </mat-card-title-group>
  <mat-card-content>
    <div class="image">
      <img src="{{data.imgUrl}}" width="100%">
    </div>
    <div class="notimage">

      <div style="margin-bottom: 20px; font-weight: bold">

        <div> Price: {{data.price}}</div>
        <div> Rating: {{data.rating}} Star </div>
        <div> Stock: {{data.rating}} </div>

      </div>
      <div>{{data.description}}</div>
    </div>
  </mat-card-content>
</mat-card>


