.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

.btn-primary {
  background-color: #c1d62e;
  border-color: #c1d62e;
}

.btn-primary:hover {
  background-color: #b1c522;
  border-color: #b1c522;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #c1d62e;
  border-color: #c1d62e;
}
