<div class="row">

  <div class="col col-12 col-md-6 col-lg-3"
       style="margin-top: 10px"

       *ngFor="let product of products; index as i">

    <div class="card"  style="width: 18rem;">

      <img class="card-img-top" [src]="product.imgUrl" height="200px" alt="Product image">

      <div class="card-body">



        <div>

        Ne gjende: {{product.amount}}
        </div>


        <h4 class="card-title">{{ product.title | titlecase }}</h4>

        <p class="card-text">{{ product.description }}</p>

        <p class="card-text">{{ product.price  }} Leke </p>

        <br>

        </div>
      </div>
    </div>

  </div>




