<div class="flex-it">
  <mat-card class="signup-form">
    <form [formGroup]='signupForm' class="form-group">
      <div class="content">
        <div class="picture">
          <div style="margin-top: 20px"  *ngIf="!default" >
            <img src="{{url}}" width="200px" style="border-radius: 50%" >
          </div>

          <div style="margin-top: 20px" *ngIf="default" >
            <div class="initials"  [ngStyle]="{'background-color': circleColor}">
            <p>{{ initials}}</p>
            </div>
          </div>

        </div>
        <div class="otherinfo">
          <div>
            <mat-form-field class="mat-form-field-outline">
              <input
                matInput type="text" id="name" formControlName="name" class="form-control" placeholder="Name"/>
              <mat-error *ngIf="signupForm.get('name')?.hasError('required')">Name is required!</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input
                matInput type="text" id="surname" formControlName="surname" class="form-control" placeholder="Surname"/>
              <mat-error *ngIf="signupForm.get('surname')?.hasError('required')">Surname is required!</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input
                matInput
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
              />
              <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required!</mat-error>
              <mat-error
                *ngIf="
              signupForm.controls['password'].touched &&
              signupForm.controls['password'].hasError('minlength')">Password needs to be at least 8 characters</mat-error>

            </mat-form-field>
          </div>
          <input type="file"  name="image" #image ><br><br>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="editUser(this.signupForm)" [disabled]="!signupForm.valid">
            Edit
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
