.flex-it {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f2f1;
  height: calc(100%);
}

.signup-form {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: fit-content;
  background-color: rgba(255, 255, 256, 1);

}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.picture {
  padding: 20px 50px;
  align-self: center;
  justify-self: center;
}
.otherinfo {
  padding: 20px 0px;
  align-self: center;
  justify-self: center;
}

.initials {
  color: #FFFFFF;
  line-height: 15px;
  border-radius: 50%;
  justify-content: center;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  font-size: 36px;
}

.mat-raised-button {
  background-color: #2557a7;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 2vh 0;
}
.mat-form-field {
  margin-bottom: 1vh;
}

.mat-form-field-wrapper {
  padding-bottom:0 !important;
}

.post-click-error {
  font-size: smaller;
}
