@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"); /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cart-snackbar {
  background: white;
  color: red;
}
.cart-snackbar button {
  background-color: rgb(37	,87	,174);
  color: white;
  border: none;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-card-header-text {
  margin: 0 !important;
}
